.dashboard-container {
    display: flex;
    /* min-height: 100vh; */
  }
  
  .dashboard-content {
    flex-grow: 1;
    padding-top: 64px;
    transition: margin-left 0.3s;
  }
  
  .app-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
  }
  
  .drawer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
  }
  
  .drawer-list-item {
    margin: 4px 0;
  }
  
  .drawer-icon {
    color: white !important;
  }
  
  